<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>登录聊天室</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="./static/css/mvp.css" />
    <link rel="stylesheet" href="../../static/css/common.css" />
    <script type="text/javascript">
        function login(){
          let element = document.getElementsByName('nickname')[0];
          let nickname = element.value;
          localStorage.setItem('nickname',nickname);
          return true;
        }

        window.onload = function () {
            let nickname = localStorage.getItem('nickname');
            if (nickname){
                window.location.href = '/chat/'
            }
        }
    </script>

  </head>
  <body>
  <form class="container" action="/chat/" method="post" onsubmit="return login()">
       {% csrf_token %}
        <label class="header">登录聊天室</label>
        <input type="text" name="nickname" placeholder="输入你的昵称" required="true"/>
        <button type="submit" value="login">login</button>
  </form>
  </body>
</html>
