<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2021年全国疫情实况</title>
    <script src="../static/js/jqurey-3.5.1.js"></script>
    <script src="../static/js/echarts-4.9.0.js"></script>
<!--    <script src="../static/js/echarts2.js"></script>-->
    <script src="../static/js/echarts-5.0.0.js"></script>
    <script src="../static/js/echarts-wordcloud.js"></script>
    <script src="../static/js/china.js"></script>
    <script src="../static/js/infographic.js"></script>
    <link href="../static/css/main.css" rel="stylesheet"/>
</head>
<body>
    <div id="time"></div>
    <div id="title">2021年全国疫情实时监控</div>

    <div id="l1"></div>
    <div id="l2"></div>
    <div id="m1">
        <div class="num_1" id="today_confirm"> - </div>
        <div class="num_1" id="total_nowConfirm"> - </div>
        <div class="num_1" id="total_deadRate"> - </div>
        <div class="num_1" id="total_healRate"> - </div>
        <div class="txt_1">今日确诊</div>
        <div class="txt_1">目前确诊</div>
        <div class="txt_1">死亡概率</div>
        <div class="txt_1">治愈概率</div>

        <div class="num_2" id="total_confirm"> - </div>
        <div class="num_2" id="total_dead"> - </div>
        <div class="num_2" id="total_heal"> - </div>
        <div class="txt_2">累计确诊</div>
        <div class="txt_2">累计死亡</div>
        <div class="txt_2">累计治愈</div>

    </div>
    <div id="m2"></div>
    <div id="r1"></div>
    <div id="r2"></div>

    <script src="../static/js/center.js"></script>
    <script src="../static/js/left_top.js"></script>
    <script src="../static/js/left_bottom.js"></script>
    <script src="../static/js/right_top.js"></script>

    <script src="../static/js/right_bottom.js"></script>
    <script src="../static/js/common.js"></script>


</body>
</html>